<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, td, th {
        border: 1px solid #999;
        padding: 5px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Задания для call-центра</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
<h1>Задания</h1>
<form method="GET" action="/operator/getTask"> Поиск по номеру заказа: <input type="number" name="orderId">
    <input type="submit" value="Найти"/>
</form>
<br/>
<table style="width: 50%;">
    <thead>
    <tr>
        <th style="width: 10%">#</th>
        <th style="width: 40%">Номер заказа</th>
        <th style="width: 40%">Дата заказа</th>
        <th style="width: 10%">Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}" style="text-align: center">#</td>
        <td th:text="${task.orderId}" style="text-align: center">Date</td>
        <td th:text="${#dates.format(task.taskDate, 'd MMM yyyy, HH:mm:ss, EEE')}" style="text-align: center"></td>
        <td style="text-align: center">
            <form method="POST" th:action="@{/operator/delete}">
                <input type="hidden" name="taskId" th:value="${task.id}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<p><a href="/operator/getAllTasks">Все задания</a></p>
</body>
</html>